<div class="container p-3">
    <div class="row py-3">
        <div *ngIf="!emailSent && !error" class="col-12 col-sm-8 mt-2 pt-4 mx-auto">
            <form (ngSubmit)="processForm()">
                <!-- name -->
                <div class="field mt-2">
                    <label for="name">
                        Name
                    </label>
                    <input 
                        [(ngModel)]="contact.name" 
                        type="text" 
                        name="name" 
                        id="name"
                        class="form-control w-100" 
                        placeholder="Your Name"
                        required>
                </div>
              
                <!-- email -->
                <div class="field mt-2">
                    <label for="email">
                        Email
                    </label>
                    <input 
                        [(ngModel)]="contact.email" 
                        type="email" 
                        name="email" 
                        id="email"
                        class="form-control w-100" 
                        placeholder="Your Email"
                        required>
                </div>
                <!-- message -->
                <div class="field mt-2">
                    <label for="message">
                        Message
                    </label>
                    <textarea 
                        [(ngModel)]="contact.message" 
                        class="textarea" 
                        name="message" 
                        id="message"
                        rows="4" 
                        class="form-control w-100" 
                        placeholder="What's on your mind?"
                        required></textarea>
                </div>
              
                <button type="submit" class="btn btn-danger btn-lg mt-4">Submit</button>
              </form>
        </div>
        <div *ngIf="emailSent && !error" class="col-12 col-sm-8 mt-2 pt-4 mx-auto text-center">
            <div class="center-content headline">
                <h1>Thank You!</h1>
                <p>I'll be in touch with you shortly.</p>
            </div>
        </div>
        <div *ngIf="error" class="col-12 col-sm-8 mt-2 pt-4 mx-auto text-center">
            <div class="center-content headline">
                <h1>Oops! Something went wrong.</h1>
                <p>
                    You can still email me at: <a [href]="email">{{email}}</a>
                </p>
            </div>
        </div>
        <div [ngClass]="{'col-sm-4' : !emailSent && !error}"class="col-12 text-center center-content headline">
            <h3>Ross Bryson</h3>
            <a [href]="email">{{email}}</a><br/>
            <a href="https://www.linkedin.com/in/ross-bryson-software-engineer" target="_blank" alt="Linkedin Profile">
                <fa-icon [icon]="['fab', 'linkedin']" class="mr-2"></fa-icon>Linkedin
            </a><br/>
            <a href="https://www.facebook.com/ross.bryson.927" target="_blank" alt="Facebook Profile">
                <fa-icon [icon]="['fab', 'facebook-square']" class="mr-2"></fa-icon>Facebook
            </a><br/>
            <a href="https://github.com/jacobrbryson" target="_blank" alt="GitHub Profile">
                <fa-icon [icon]="['fab', 'github-square']" class="mr-2"></fa-icon>GitHub
            </a><br/>
            <a href="https://www.strava.com/athletes/96238480" target="_blank" alt="Strava Profile">
                <fa-icon [icon]="['fab', 'strava']" class="mr-2"></fa-icon>Strava
            </a><br/>
        </div>
    </div>
</div>