<div *ngIf="resume" class="container-fluid p-3">
    <div *ngFor="let edu of resume.education" class="row py-3">
        <div class="col-12 col-sm-3 mt-2">
            <img src="{{ edu.image }}" class="img-fluid" alt="{{ edu.name }} Logo"/>
        </div>
        <div class="col-12 col-sm-9 my-auto py-4">
            <div>
                <h4>
                    {{ edu.name }}
                </h4>
                <h6>
                    {{ edu.certification }}<br/>
                    {{ edu.type }}
                </h6>
                <p class="d-flex pt-3">
                    {{ edu.location }}<br/>
                    {{ edu.date }}
                </p>
            </div>
        </div>
    </div>
</div>