<div *ngIf="resume" class="container-fluid p-3">
    <div class="row py-3">
        <div
            *ngFor="let employment of resume.employments" 
            [ngClass]="{'col-sm-6 col-lg-4 col-xl-3' : employment.collapse}" 
            class="col-12 mt-2">
            <div class="card bg-secondary card-hover">
                <img 
                    class="card-img-top img-fluid" 
                    src="{{ employment.image }}" alt="{{ employment.name }} Background Image"/>
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <img 
                                class="rounded-circle border border-dark exp-icon-image"
                                src="{{ employment.logo}}"
                                alt="{{ employment.name }} Logo"/>
                        </div>
                    </div>
                    <h5 class="card-title pt-3 pb-2">
                        {{ employment.name }}<br/>
                        <small>
                            {{ employment.position }}
                        </small>
                    </h5>
                    <hr/>
                    <div class="w-100 text-center">
                        <a class="link" type="button" (click)="employment.collapse = !employment.collapse">
                            <mat-icon 
                                class="mr-2"
                                *ngIf="!employment.collapse" 
                                aria-hidden="false" 
                                aria-label="Show Less">
                                visibility_off
                            </mat-icon>
                            <mat-icon 
                                class="mr-2"
                                *ngIf="employment.collapse" 
                                aria-hidden="false" 
                                aria-label="Show More">
                                visibility
                            </mat-icon>
                            Details
                        </a>
                    </div>
                    <div [ngbCollapse]="employment.collapse" class="collapse">
                        <div class="row">
                            <div 
                                *ngFor="let activity of employment.activities"
                                class="col-12 col-lg-6 mt-2 p-1">
                                <div class="bg-dark pb-3">
                                    <a 
                                        href="{{ activity.link }}" 
                                        title="{{ activity.name }}" target="_blank">
                                        {{ activity.name }}
                                    </a>
                                    <ul *ngIf="activity.entries.length">
                                        <li
                                            *ngFor="let entry of activity.entries">
                                            {{ entry.item }}
                                            <ul *ngIf="entry.subItems.length">
                                                <li *ngFor="let subItem of entry.subItems">
                                                    {{ subItem.item }}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>