<div class="container-fluid p-3">
    <div class="row">
        <div class="col-12 col-lg-4 mt-2 py-2">
            <div class="card bg-secondary card-hover">
                <img class="card-img-top" src="assets/images/card-code.jpg" alt="Card image"/>
                <div class="card-body p-0">
                    <h5 class="card-title text-center pt-3 pb-2">
                        Programming Languages
                    </h5>
                    <table class="card-table table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Name
                                </th>
                                <th>
                                    <span class="float-right">Yrs Exp</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'html5']" class="mr-2"></fa-icon>HTML, CSS, &amp; JavaScript
                                </td>
                                <td scope="col">
                                    <span class="float-right">15</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fas', 'database']" class="mr-2"></fa-icon>MySQL &amp; SQL Server
                                </td>
                                <td>
                                    <span class="float-right">15</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'php']" class="mr-2"></fa-icon>PHP
                                </td>
                                <td scope="col">
                                    <span class="float-right">8</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'adobe']" class="mr-2"></fa-icon>Coldfusion &amp; Lucee
                                </td>
                                <td scope="col">
                                    <span class="float-right">4</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'microsoft']" class="mr-2"></fa-icon>C#
                                </td>
                                <td scope="col">
                                    <span class="float-right">3</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fas', 'database']" class="mr-2"></fa-icon>MongoDB
                                </td>
                                <td scope="col">
                                    <span class="float-right">1</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-2 py-2">
            <div class="card bg-secondary card-hover">
                <img class="card-img-top" src="assets/images/card-software.jpg" alt="Card image">
                <div class="card-body p-0">
                    <h5 class="card-title text-center pt-3 pb-2">
                        Frameworks
                    </h5>
                    <table class="table card-table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Name
                                </th>
                                <th>
                                    <span class="float-right">Yrs Exp</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'js']" class="mr-2"></fa-icon>jQuery
                                </td>
                                <td scope="col">
                                    <span class="float-right">14</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'bootstrap']" class="mr-2"></fa-icon>Bootstrap
                                </td>
                                <td scope="col">
                                    <span class="float-right">8</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'angular']" class="mr-2"></fa-icon>Angular.js
                                </td>
                                <td scope="col">
                                    <span class="float-right">8</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'symfony']" class="mr-2"></fa-icon>Symfony
                                </td>
                                <td scope="col">
                                    <span class="float-right">5</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'angular']" class="mr-2"></fa-icon>Angular
                                </td>
                                <td scope="col">
                                    <span class="float-right">2</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'node-js']" class="mr-2"></fa-icon>Node.js
                                </td>
                                <td scope="col">
                                    <span class="float-right">2</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!--div class="w-100 text-center reveal">
                        <a class="btn btn-info">
                            More Details
                        </a>
                    </div-->
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-2 py-2">
            <div class="card bg-secondary card-hover">
                <img class="card-img-top" src="assets/images/card-framework.jpg" alt="Card image">
                
                <div class="card-body p-0">
                    <h5 class="card-title text-center pt-3 pb-2">
                        Software
                    </h5>
                    <table class="card-table table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Name
                                </th>
                                <th>
                                    <span class="float-right">Yrs Exp</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fas', 'server']" class="mr-2"></fa-icon>Apache HTTP
                                </td>
                                <td scope="col">
                                    <span class="float-right">15</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'microsoft']" class="mr-2"></fa-icon>Micorsoft IIS
                                </td>
                                <td scope="col">
                                    <span class="float-right">14</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fas', 'server']" class="mr-2"></fa-icon>NGINX
                                </td>
                                <td scope="col">
                                    <span class="float-right">8</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'adobe']" class="mr-2"></fa-icon>Photoshop &amp; GIMP
                                </td>
                                <td scope="col">
                                    <span class="float-right">9</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fas', 'cube']" class="mr-2"></fa-icon>Blender
                                </td>
                                <td scope="col">
                                    <span class="float-right">2</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">
                                    <fa-icon [icon]="['fab', 'unity']" class="mr-2"></fa-icon>Unity3D
                                </td>
                                <td scope="col">
                                    <span class="float-right">2</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>