<div class="container-fluid p-3">
    <div class="row">
        <div *ngFor="let stack of resume.techStack" class="col-12 col-lg-4 mt-2 py-2">
            <div class="card bg-secondary card-hover">
                <img class="card-img-top" src="{{ stack.image }}" alt="Card image"/>
                <div class="card-body p-0">
                    <h5 class="card-title text-center pt-3 pb-2">
                        {{ stack.name }}
                    </h5>
                    <table class="card-table table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Name
                                </th>
                                <th>
                                    <span class="float-right">Yrs Exp</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tech of stack.technologies">
                                <td scope="col">
                                    <fa-icon [icon]="[tech.prefix, tech.icon]" class="mr-2"></fa-icon>{{ tech.name }}
                                </td>
                                <td scope="col">
                                    <span class="float-right">{{ tech.years }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>