
.parallax {
  /* The image used */
  background-image: url('/assets/images/bg-waterfall-1.jpg');
  background-size: cover;
  height: 200px;
  background-color:gray;
  /* Set a specific height */
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.underline{
  border-bottom: 2px solid rgba(255,255,255,0.75);
}

.headline{
  color:rgba(255, 255, 255, 0.75);
  text-decoration: none;
  letter-spacing: 0.075em;
}

.para-header{
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.75);
}