<div class="parallax"></div>
<app-header></app-header>
<div class="parallax" id="expertise">
    <div class="para-header h-100 w-100">
        <div class="text-center">
            <h3 class="headline">
                <span class="underline pb-3">Tech Stack</span>
            </h3>
        </div>
    </div>
</div>
<app-expertise></app-expertise>
<!--div class="parallax" id="successes"></div>
<app-successes></app-successes-->
<div class="parallax" id="experience">
    <div class="para-header h-100 w-100">
        <div class="text-center">
            <h3 class="headline">
                <span class="underline pb-3">Experience</span>
            </h3>
        </div>
    </div>
</div>
<app-experience></app-experience>
<div class="parallax" id="education">
    <div class="para-header h-100 w-100">
        <div class="text-center">
            <h3 class="headline">
                <span class="underline pb-3">Education</span>
            </h3>
        </div>
    </div>
</div>
<app-education></app-education>
<!--div class="parallax" id="projects">
    <div class="para-header h-100 w-100">
        <div class="text-center">
            <h3 class="headline">
                <span class="underline pb-3">Projects</span>
            </h3>
        </div>
    </div>
</div>
<app-projects></app-projects-->
<div class="parallax" id="contact">
    <div class="para-header h-100 w-100">
        <div class="text-center">
            <h3 class="headline">
                <span class="underline pb-3">Contact</span>
            </h3>
        </div>
    </div>
</div>
<app-contact></app-contact>