/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-icon {
  vertical-align: middle;
  margin-bottom:5px;
}

.card-hover:hover {
  top:-5px;
  box-shadow: 5px 5px 10px #000;
  transition: top .5s ease;
  transition: box-shadow .1s ease;
}

.clickable{
  cursor: pointer;
}

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";